<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>online Doctor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ask</display-name>
    <servlet-name>ask</servlet-name>
    <servlet-class>com.bean.ask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ask</servlet-name>
    <url-pattern>/ask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BussinessController</display-name>
    <servlet-name>BussinessController</servlet-name>
    <servlet-class>controller.BussinessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BussinessController</servlet-name>
    <url-pattern>/BussinessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatController</display-name>
    <servlet-name>ChatController</servlet-name>
    <servlet-class>controller.ChatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatController</servlet-name>
    <url-pattern>/ChatController</url-pattern>
  </servlet-mapping>
</web-app>